asgiref==3.8.1
blinker==1.8.2
brotli==1.1.0
ConfigParser==7.0.0
cryptography==42.0.7
Cython==3.0.10
dl==0.1.0
docutils==0.21.2
gevent==24.2.1
greenlet==3.0.3
HTMLParser==0.0.2
importlib_metadata==7.1.0
jnius==1.1.0
keyring==25.2.1
lockfile==0.12.2
lxml==5.2.2
numpy==1.26.4
ordereddict==1.1
protobuf==5.26.1
pyOpenSSL==24.1.0
python-dotenv==1.0.1
pywin32==306
thread==2.0.1
toml==0.10.2
tornado==6.4
typing_extensions==4.11.0
watchdog==4.0.0
xmlrpclib==1.0.1
zipp==3.18.2
